body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.container {
  position: relative;
  height: 100vh;
  /*border: 1px solid red;*/
}

.background, video {
  height: 100vh;
}

/*>>>> buttons styling <<<<*/

.buttons {
  position: absolute;
}

.button-next {
  height: 100vh;
  width: 100%;
  top: 0;
}

.opties {
  width: 100%;
}

.bottom {
  bottom: 0
}

.top {
  top: 0
}

.split {
  height: 100vh;
  right: 0;
  top:0;
}



#button-nee-thanks {
  height: 100px;
  right: 30px;
  bottom: 80px;
}

/*>>>> Animation <<<<*/

.container-buttons-video {
  opacity: 0;
}

.container-buttons-image img {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /*transform: scale(0);*/
  }
  100% {
    opacity: 1;
    /*transform: scale(1);*/
  }
}

/*>>>> Remove player styling <<<<*/

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
